* {
	padding: 0;
	margin: 0;
}
body {
	background-color: white;
}
h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}
p {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.header {
	display: flex;
	padding: 0 60px;
	margin-top: 50px;
	margin-bottom: 80px;
}
.img-container {
	flex-grow: 1;
}
.header > button {
	width: 150px;
	font-size: 15px;
	border: 1px solid hsl(322, 100%, 66%);
	background-color: white;
	color: hsl(322, 100%, 66%);
	border-radius: 30px;
}
.build,
.ready {
	text-align: center;
}
.build > h1 {
	font-size: 40px;
	padding: 40px 0;
}
.build > p {
	font-size: 18px;
	padding: 0 30vw 9vh 30vw;
	line-height: 25px;
}
.build > button,
.ready > button {
	width: 350px;
	border-radius: 50px;
	padding: 25px 20px;
	font-size: 18px;
	background-color: hsl(322, 100%, 66%);
	color: white;
	border: none;
	box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.788);
	margin-bottom: 13vh;
}
.screen {
	text-align: center;
	margin-bottom: 10vh;
}
.screen > img {
	width: 70%;
}
.com-msg {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10vh;
}
.com > h1 {
	font-size: 70px;
	padding: 3vh 0;
}
.grow,
.users {
	display: flex;
	padding: 2vh 8vw;
	background-color: #f6fbff;
	gap: 10%;
}
.brow,
.users > .chat,
.flow > .conversation {
	align-self: center;
}
.brow > h1,
.conversation > h1,
.chat > h1,
.hud,
.letter > h1 {
	padding-bottom: 3vh;
}
.row > img,
.illus > img {
	width: 100%;
	padding-top: 30px;
}
.im > img {
	width: 100%;
	margin: -10px 0;
}
.flow {
	display: flex;
	padding: 10vh 8vw;
	gap: 10%;
}
.ready {
	padding: 100px 0;
}
.ready > h1 {
	font-size: 40px;
	padding-bottom: 50px;
}
.footer {
	display: flex;
	column-gap: 25%;
	padding: 15vh 7vw;
	background-color: hsl(192, 100%, 9%);
	color: white;
}
.huddle > .hud {
	display: flex;
	gap: 2%;
}
.huddle > p,
.letter > p {
	padding-bottom: 5vh;
	line-height: 25px;
}
.pic {
	display: flex;
	column-gap: 2vw;
	margin-bottom: 4vh;
}
.icon {
	display: flex;
	column-gap: 5%;
	font-size: 30px;
	margin-top: 8vh;
}
.form-container {
	display: flex;
	column-gap: 2vw;
	margin-top: 3vh;
}
#text {
	border-radius: 8px;
	width: 100%;
	padding: 2vh 0;
	outline: none;
	border: none;
}
#but {
	background-color: hsl(322, 100%, 66%);
	color: white;
	padding: 2vh 3vw;
	border-radius: 8px;
	border: none;
}
@media screen and (max-width: 785px) {
	p {
		font-size: 16px;
	}
	.build > h1,
	.ready > h1 {
		font-size: 30px;
	}
	.brow > h1,
	.conversation > h1,
	.chat > h1 {
		font-size: 25px;
	}
	.com > h1 {
		font-size: 50px;
	}
	.footer {
		flex-direction: column;
	}
	.footer > .huddle {
		margin-bottom: 15vh;
	}
	#but {
		width: 300px;
		padding: 2vh 3vw;
	}
}
@media screen and (max-width: 650px) {
	.header {
		padding: 0 30px;
	}
	.header > button {
		width: 130px;
	}
	.img-container > img {
		width: 180px;
	}
	.build > button,
	.ready > button {
		width: 300px;
	}
	.com-msg {
		flex-direction: column;
		text-align: center;
		margin: 10vh 0;
	}
	.com {
		margin: 5vh 0;
	}
	.grow,
	.users {
		flex-direction: column;
		padding: 10vh 10vw;
	}
	.flow {
		flex-direction: column;
		padding: 15vh 10vw;
	}
	.illus > img {
		padding-bottom: 70px;
	}
	.row > img {
		padding-top: 100px;
	}
}
@media screen and (max-width: 480px) {
	.header {
		padding: 0 20px;
	}
	.img-container > img {
		width: 120px;
	}
	.header > button {
		width: 90px;
		padding: 5px;
	}
	.build > p {
		padding: 0 20px 9vh 20px;
		line-height: 25px;
	}
	.build > button,
	.ready > button {
		width: 230px;
		padding: 20px 10px;
	}
	.form-container {
		flex-direction: column;
		flex-wrap: wrap-reverse;
	}
	#but {
		width: 50%;
		margin-top: 20px;
	}
}
